body {
    margin: 0;
}

.container {
    margin: auto;
    display: block;
    width: 1600px;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.homeinfo {
    display: flex;
    width: 900px;
    height: 600px;
    margin: auto;
    margin-left: 80px;
}

.navbar{
    height: 65px;
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: rgb(27,34,30);
    color: white;
    
}

.navbar i {
    display: inline-block;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 6px;
}

.navbar li {
    margin-right: 20px;
}

.navbar .links {
    margin-top: 15px;
}

.navbar input {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(47,52,55);
    font-size: 15px;
    height: 30px;
    width: 300px;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 5px;
}