.repolist {
    list-style: none;
    margin-left: 100px;
}

.reponame {
    font-size: 25px;
    color: blue;
}

.repolist li {
    margin: 10px;
    border-top: solid 1px lightgray;
    padding-top: 20px;
}